  <h1>Welcome <%= @user.first_name %>!</h1>
    <h2>Shorten your URLs</h2>
      <div class="form">
      <form action="/urls" method="post" id="shorten-url">
        <% if @url && @url.errors %>
          <%= @url.errors.full_messages.join('<br>') %>
        <% end %>
        <br><br>
        <input size = "40" type="text" name="long_url" placeholder='Put your long url in here...'>
        <br><br>

        <input type="submit" value="shorten" class='input'>
      </form>
    <h2>All your URLs</h2>
      <ul>
        <div class="url-list">
       <% @urls.each do |url| %>
         <li>Long URL: &nbsp;<a href=<%= url.long_url %>><%= url.long_url %> </a><br>
             Short URL:&nbsp;<a href=/url/<%= url.short_url %> >http://localhost:9292/<%= url.short_url %> </a><br>
             Times clicked: <%= url.counter %>
             <br><br>
         </li>
       <% end %>
       </div>
      </ul>
